*{
  margin: 0;
  padding: 0;

}

.tv {
  text-align: center;
  padding-bottom: 2rem;
}

.shows {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 10%;
  display: flex;
}

.show-image {
  width: 10rem;
  padding: 1rem;
}

